<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= @blog_author %>">

    <title><%= title @conn %></title>
    
    <%= if @use_default_style do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <% end %>

    <%= if @custom_style_path != nil do %>
      <link rel="stylesheet" href="<%= @custom_style_path %>">
    <% end %>
    
    <%= if @enable_feeds do %>
      <%= if assigns[:page_type] == :tag do %>
        <link href="<%= @absolute_url %><%= feed_path @conn, :tag, @tag %>" rel="alternate" type="application/rss+xml" title="RSS feed for tag <%= @tag %>" />
      <% else %>
        <link href="<%= @absolute_url %><%= feed_path @conn, :index %>" rel="alternate" type="application/rss+xml" title="RSS feed" />
      <% end %>
    <% end %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="<%= @absolute_url %>" class="navbar-brand">
            <%= @blog_name %>
          </a>
        </div>

        <ul class="nav navbar-nav">

          <%= for menuitem <- @menu do %>
            <li>
              <a href="<%= menuitem.slug %>"><%= menuitem.title %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
      <%= render @view_module, @view_template, assigns %>

      <% footer = custom_footer_html %>
      <%= if footer != nil do %>
        <%= raw footer %>
      <%= else %>
        <div class="footer row">
          <div class="col-xs-12 col-sm-4">
            <p>
              © <%= @blog_author %>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>
              <a href="https://blog.nytsoi.net/mebe">
                Powered by Elixir + Phoenix + Mebe
              </a>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>
              <% {time, unit} = request_time @conn %>
              Rendered in <%= time |> safe_round |> trunc %>&nbsp;<%= unit %>.
            </p>
          </div>
        </div>
      <% end %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/old_hash_redirector.js") %>"></script>

    <%= raw extra_html %>
  </body>
</html>
