<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title><%= title @conn %></title>
    <link><%= @absolute_url %></link>
    <description></description>
    <generator>Mebe</generator>
    <copyright>© <%= @blog_author %></copyright>
    
    <%= render @view_module, @view_template, assigns %>
  </channel>
</rss>
